@font-face {
    font-family: 'Neulis Sans';
    src: url('fonts/neulis-sans/NeulisSans-ExtraBold.woff2') format('woff2'),
        url('fonts/neulis-sans/NeulisSans-ExtraBold.woff') format('woff'),
        url('fonts/neulis-sans/NeulisSans-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neulis Sans';
    src: url('fonts/neulis-sans/NeulisSans-Black.woff2') format('woff2'),
        url('fonts/neulis-sans/NeulisSans-Black.woff') format('woff'),
        url('fonts/neulis-sans/NeulisSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neulis Sans';
    src: url('fonts/neulis-sans/NeulisSans-Medium.woff2') format('woff2'),
        url('fonts/neulis-sans/NeulisSans-Medium.woff') format('woff'),
        url('fonts/neulis-sans/NeulisSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neulis Sans';
    src: url('fonts/neulis-sans/NeulisSans-MediumItalic.woff2') format('woff2'),
        url('fonts/neulis-sans/NeulisSans-MediumItalic.woff') format('woff'),
        url('fonts/neulis-sans/NeulisSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neulis Sans';
    src: url('fonts/neulis-sans/NeulisSans-Regular.woff2') format('woff2'),
        url('fonts/neulis-sans/NeulisSans-Regular.woff') format('woff'),
        url('fonts/neulis-sans/NeulisSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neulis Sans';
    src: url('fonts/neulis-sans/NeulisSans-ExtraBoldItalic.woff2') format('woff2'),
        url('fonts/neulis-sans/NeulisSans-ExtraBoldItalic.woff') format('woff'),
        url('fonts/neulis-sans/NeulisSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neulis Sans';
    src: url('fonts/neulis-sans/NeulisSans-SemiBoldItalic.woff2') format('woff2'),
        url('fonts/neulis-sans/NeulisSans-SemiBoldItalic.woff') format('woff'),
        url('fonts/neulis-sans/NeulisSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neulis Sans';
    src: url('fonts/neulis-sans/NeulisSans-ThinItalic.woff2') format('woff2'),
        url('fonts/neulis-sans/NeulisSans-ThinItalic.woff') format('woff'),
        url('fonts/neulis-sans/NeulisSans-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neulis Sans';
    src: url('fonts/neulis-sans/NeulisSans-SemiBold.woff2') format('woff2'),
        url('fonts/neulis-sans/NeulisSans-SemiBold.woff') format('woff'),
        url('fonts/neulis-sans/NeulisSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neulis Sans';
    src: url('fonts/neulis-sans/NeulisSans-ExtraLightItalic.woff2') format('woff2'),
        url('fonts/neulis-sans/NeulisSans-ExtraLightItalic.woff') format('woff'),
        url('fonts/neulis-sans/NeulisSans-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neulis Sans';
    src: url('fonts/neulis-sans/NeulisSans-BlackItalic.woff2') format('woff2'),
        url('fonts/neulis-sans/NeulisSans-BlackItalic.woff') format('woff'),
        url('fonts/neulis-sans/NeulisSans-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neulis Sans';
    src: url('fonts/neulis-sans/NeulisSans-BoldItalic.woff2') format('woff2'),
        url('fonts/neulis-sans/NeulisSans-BoldItalic.woff') format('woff'),
        url('fonts/neulis-sans/NeulisSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neulis Sans';
    src: url('fonts/neulis-sans/NeulisSans-Bold.woff2') format('woff2'),
        url('fonts/neulis-sans/NeulisSans-Bold.woff') format('woff'),
        url('fonts/neulis-sans/NeulisSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neulis Sans';
    src: url('fonts/neulis-sans/NeulisSans-Thin.woff2') format('woff2'),
        url('fonts/neulis-sans/NeulisSans-Thin.woff') format('woff'),
        url('fonts/neulis-sans/NeulisSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neulis Sans';
    src: url('fonts/neulis-sans/NeulisSans-LightItalic.woff2') format('woff2'),
        url('fonts/neulis-sans/NeulisSans-LightItalic.woff') format('woff'),
        url('fonts/neulis-sans/NeulisSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neulis Sans';
    src: url('fonts/neulis-sans/NeulisSans-ExtraLight.woff2') format('woff2'),
        url('fonts/neulis-sans/NeulisSans-ExtraLight.woff') format('woff'),
        url('fonts/neulis-sans/NeulisSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neulis Sans';
    src: url('fonts/neulis-sans/NeulisSans-Italic.woff2') format('woff2'),
        url('fonts/neulis-sans/NeulisSans-Italic.woff') format('woff'),
        url('fonts/neulis-sans/NeulisSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neulis Sans';
    src: url('fonts/neulis-sans/NeulisSans-Light.woff2') format('woff2'),
        url('fonts/neulis-sans/NeulisSans-Light.woff') format('woff'),
        url('fonts/neulis-sans/NeulisSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

